.layout-classic {

  #header, #footer {
    position: fixed;
    width: 100%;
    z-index: 20;
  }
  #header {
    top: 0;
    height: 5em;
  }

  #footer {
    bottom: 0;
    height: 3em;
  }


  #nav, #subnav {
    position: fixed;
    // we use calc and we substract header and footer heights and 2em margin
    height: calc(100% - 10em);
    z-index: 20;
  }

  #nav {
    left: 0;
    width: 5em;
    &.expanded {
      width: 10em;
    }
  }

  #subnav {
    left: 6em;
    width: 13em;
    &.expanded {
      left: 11em;
    }
  }

  #main {
    // -- This is supposed to be fluid, so we just add margins
    // -- to fit between all fixed elements
    // -- and thus allows to overflow on body and have scroll
    margin: 6em 0 4em 6em;
    min-height: 1300px;
    // -- makes sure this always goes behind all other fixed elements
    z-index: 10;

    &.expanded {
      margin-left: 11em;
    }
  }
  // if it's next to #subnav then move right
  // depending if it's expanded or not, move to left
  #subnav + #main {
    margin-left: 20em;
  }
  #subnav + #main.expanded {
    margin-left: 25em;
  }
  // if it's next to #subnav but it's hidden
  #subnav.hidden + #main {
    margin-left: 6em;
  }
  #subnav.hidden + #main.expanded {
    margin-left: 11em;
  }


}