html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;  
  height: 100%;
}

#header {
  flex: 0 0 5em;
}

.flex-wrapper {
  display: flex;
  margin: 1em 0;
  flex: 0 1 auto;
  flex-direction: row;
  #nav {
    flex: 0 1 5em;
    margin-right: 1em;
  }

  #subnav {
    flex: 0 1 13em;
    margin-right: 1em;
  }

  #main {
    flex: 1 0 auto;
    overflow-y: auto;
  }
}

#footer {
  flex: 0 0 3em;
}