.layout-grid {
  display: grid;
  // 3 columns
  grid-template-columns: 5em 0 auto 1em 1fr;
  grid-template-rows: 5em 1em 1fr 1em 3em;

  #header {
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 1;
    grid-row-end: 2;
  }

  #nav {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;
  }

  #subnav {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
    // To be able to remove this panel
    // and having main content to collapse
    // we need to set with so auto in grid-template-col works
    width: 13em;
    margin-left: 1em;
  }

  #main {
    overflow-y: auto; 
    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 3;
    grid-row-end: 4;
  }

  #footer {
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 5;
    grid-row-end: 6;
  }
}