.layout-grid {
  display: grid;
  // 3 columns, auto ones are setting width at element level
  // so it anabled to change dinamically and all other will adapt
  grid-template-columns: auto 0 auto 1em 1fr;
  grid-template-rows: 5em 1em 1fr 1em 3em;

  #header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  #nav {
    width: 5em;
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    &.expanded {
      width: 10em;
    }
  }

  #subnav {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    // To be able to remove this panel
    // and having main content to collapse
    // we need to set with so auto in grid-template-col works
    width: 13em;
    margin-left: 1em;
  }

  #main {
    overflow-y: auto; 
    grid-column: 5 / 6;
    grid-row: 3 / 4;
  }

  #footer {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
  }
}