#header {
  background-color: #5956bc;
}

#nav {
  background-color: #93bee3;
}

#subnav {
  background-color: #6ad0a8;
}

#main {
  background-color: #c7b374;
  padding: 1em;
}

#footer {
  background-color: #5956bc;
}